.mainSection {
    background-color: #13326E;
    height: 100%;
    color: white;
}

html > body {
    background-color: #13326E;
}

div > .signOut {
    color: crimson;
}

h1, p {
    padding: 10px 30px;
}

h2 {
    padding: 10px 30px;
    color: #181A1D;
    background-color: #2DD6AF;
    width: 100%;
}

@media (min-width: 768px) {
    .banner {
        background-image: url("https://image.freepik.com/free-vector/seamless-pattern-sport-objects_1335-614.jpg");
        height: 75px;
    }
}

.navbar-collapse > .dropdown {
    margin: 2px 10px;
}