.mainSection {
    background-color: #13326E;
    height: 100%;
}

html > body, .mainSection > .listOfPools {
    background-color: #13326E;
}

div > .signOut {
    color: crimson;
}

div > .card {
    margin: 0px 30px;
}

.navbar-collapse > .dropdown {
    margin: 2px 10px;
}

h2 {
    color: white;
}

@media (min-width: 768px) {
    .banner {
        background-image: url("https://image.freepik.com/free-vector/seamless-pattern-sport-objects_1335-614.jpg");
        height: 75px;
    }
}